
h1{
     font-family: Helvetica;
     position: absolute;
     margin-top: 30px;
     left: 42%;
     
}

div#form{
    
    font-family: Helvetica;
     position: absolute;
     margin-top: 120px;
     margin-left: 10%;
     width: 80%;
}
